In [1]:
using CSV, DataFrames

In [2]:
df = CSV.read("data/Map_of_Registered_Business_Locations.csv", DataFrame)

222871×26 DataFrame
    Row │ Location Id     Business Account Number  Ownership Name              ⋯
        │ String          Int64                    String                      ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 0474285-05-001                   474285  Pressed Juicery Inc         ⋯
      2 │ 0474285-06-001                   474285  Pressed Juicery Inc
      3 │ 1045798-12-151                  1021444  Benhammou Ahmida
      4 │ 1170655-12-171                  1080758  San Francisco Security Serv
      5 │ 1172862-12-171                  1081156  Teresa. Spalding            ⋯
      6 │ 1172877-12-171                  1081158  Three R Properties
      7 │ 1172879-12-171                  1081159  Rhi-Mosser 275 Turk, Lp
      8 │ 1173595-12-171                  1081185  Weibin Wu
      9 │ 1173614-12-171                  1081187  Ockchain Inc                ⋯
     10 │ 1173616-12-171                  1081188  Ariel Sultan
     11 │ 1173655-12-171                  1081198  Reyes Coca Cola Bottling Ll
   ⋮    │       ⋮                    ⋮                             ⋮           ⋱
 222862 │ 1136782-02-171                  1065768  Shipt Inc
 222863 │ 1138300-03-171                  1066440  Shotski Llc                 ⋯
 222864 │ 1141204-03-171                   444184  Indoor Air Sciences
 222865 │ 1145856-05-171                  1069966  F2y Llc
 222866 │ 1146505-05-171                  1070233  Mitchell Shaun D
 222867 │ 1147589-05-171                   458713  California Boiler Inc       ⋯
 222868 │ 1148080-05-171                  1070898  Zayed Saeed
 222869 │ 1148141-05-171                   333587  Collins Joan L
 222870 │ 1148560-05-171                  1064579  Outschool, Inc.
 222871 │ 1148606-05-171                  1071093  Petru Vdovicenco            ⋯
                                              24 columns and 222850 rows omitted

In [3]:
describe(df)

26×7 DataFrame
 Row │ variable                           mean        min                      ⋯
     │ Symbol                             Union…      Any                      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Location Id                                    0000024-02-999           ⋯
   2 │ Business Account Number            6.23106e5   24
   3 │ Ownership Name                                 #10 Sports Llc
   4 │ DBA Name                                       #1 Babes
   5 │ Street Address                                 #10                      ⋯
   6 │ City                                           0
   7 │ State                                          AB
   8 │ Source Zipcode                     92957.8     0
   9 │ Business Start Date                            01/01/1941               ⋯
  10 │ Business End Date                              01/01/1977
  11 │ Location Start Date                            01/01/1941
  ⋮  │                 ⋮                      ⋮                       ⋮        ⋱
  17 │ NAICS Code                                     2200-2299
  18 │ NAICS Code Description                         Accommodations           ⋯
  19 │ Parking Tax                        0.00492213  false
  20 │ Transient Occupancy Tax            0.0229325   false
  21 │ LIC Code                                       A45
  22 │ LIC Code Description                           Application Of Flammable ⋯
  23 │ Supervisor District                5.54662     1
  24 │ Neighborhoods - Analysis Boundar…              Bayview Hunters Point
  25 │ Business Corridor                              24th St
  26 │ Business Location                              - BOSTONNYCHICAGOLASAN J ⋯
                                                    5 columns and 5 rows omitted

In [4]:
size(df, 1)

222871

In [5]:
df[df[!, Symbol("Parking Tax")] .== true, :][1:10, [Symbol("DBA Name"), Symbol("Parking Tax")]]

10×2 DataFrame
 Row │ DBA Name                           Parking Tax
     │ String                             Bool
─────┼────────────────────────────────────────────────
   1 │ Test 12/28/2017 Location 1 / Par…         true
   2 │ Douglas Parking                           true
   3 │ Douglas Parking                           true
   4 │ Douglas Parking                           true
   5 │ Volume Parking Services                   true
   6 │ Douglas Parking                           true
   7 │ Douglas Parking                           true
   8 │ Hyde Park Management Llc                  true
   9 │ Chestnut Street Lot                       true
  10 │ Fillmore Heritage Garage                  true

In [6]:
using Query

In [7]:
@from i in df begin
	@where i[Symbol("Parking Tax")] == true
	@select i
	@collect DataFrame
end

1097×26 DataFrame
  Row │ Location Id     Business Account Number  Ownership Name                ⋯
      │ String          Int64                    String                        ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │ 1173734-12-171                  1081206  Test 12/28/2017               ⋯
    2 │ 0331622-05-001                   331622  Douglas Parking Llc
    3 │ 0331622-07-001                   331622  Douglas Parking Llc
    4 │ 1003077-07-141                   331622  Douglas Parking Llc
    5 │ 1059531-03-161                  1009459  Volume Parking Services Inc   ⋯
    6 │ 1099910-08-161                   331622  Douglas Parking Llc
    7 │ 1138241-02-171                   331622  Douglas Parking Llc
    8 │ 1173943-12-171                   433156  Hyde Park Management Llc
    9 │ 1003009-07-141                   329140  Imperial Parking (Us) Llc     ⋯
   10 │ 1003010-07-141                   329140  Imperial Parking (Us) Llc
   11 │ 1056407-02-161                   329140  Imperial Parking (Us) Llc
  ⋮   │       ⋮                    ⋮                           ⋮               ⋱
 1088 │ 1013757-12-141                   461521  Abm Onsite Services-West Inc
 1089 │ 1149238-06-171                   347331  Propark America West Llc      ⋯
 1090 │ 1013889-12-141                   461521  Abm Onsite Services-West Inc
 1091 │ 1029476-05-151                  1014039  Gaetani Real Estate
 1092 │ 1013797-12-141                   461521  Abm Onsite Services-West Inc
 1093 │ 1013798-12-141                   461521  Abm Onsite Services-West Inc  ⋯
 1094 │ 1013799-12-141                   461521  Abm Onsite Services-West Inc
 1095 │ 1018695-02-151                   105437  255 Steiner Llc
 1096 │ 1118609-09-161                   446177  Laz Parking California Llc
 1097 │ 1136748-02-171                   347331  Propark America West Llc      ⋯
                                                24 columns and 1076 rows omitted

In [8]:
rename!(df, [n => replace(string(n), " "=>"_") |> Symbol for n in names(df)])

222871×26 DataFrame
    Row │ Location_Id     Business_Account_Number  Ownership_Name              ⋯
        │ String          Int64                    String                      ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 0474285-05-001                   474285  Pressed Juicery Inc         ⋯
      2 │ 0474285-06-001                   474285  Pressed Juicery Inc
      3 │ 1045798-12-151                  1021444  Benhammou Ahmida
      4 │ 1170655-12-171                  1080758  San Francisco Security Serv
      5 │ 1172862-12-171                  1081156  Teresa. Spalding            ⋯
      6 │ 1172877-12-171                  1081158  Three R Properties
      7 │ 1172879-12-171                  1081159  Rhi-Mosser 275 Turk, Lp
      8 │ 1173595-12-171                  1081185  Weibin Wu
      9 │ 1173614-12-171                  1081187  Ockchain Inc                ⋯
     10 │ 1173616-12-171                  1081188  Ariel Sultan
     11 │ 1173655-12-171                  1081198  Reyes Coca Cola Bottling Ll
   ⋮    │       ⋮                    ⋮                             ⋮           ⋱
 222862 │ 1136782-02-171                  1065768  Shipt Inc
 222863 │ 1138300-03-171                  1066440  Shotski Llc                 ⋯
 222864 │ 1141204-03-171                   444184  Indoor Air Sciences
 222865 │ 1145856-05-171                  1069966  F2y Llc
 222866 │ 1146505-05-171                  1070233  Mitchell Shaun D
 222867 │ 1147589-05-171                   458713  California Boiler Inc       ⋯
 222868 │ 1148080-05-171                  1070898  Zayed Saeed
 222869 │ 1148141-05-171                   333587  Collins Joan L
 222870 │ 1148560-05-171                  1064579  Outschool, Inc.
 222871 │ 1148606-05-171                  1071093  Petru Vdovicenco            ⋯
                                              24 columns and 222850 rows omitted

In [9]:
@from i in df begin
	@where i.Parking_Tax == true
	@select i
	@collect DataFrame
end

1097×26 DataFrame
  Row │ Location_Id     Business_Account_Number  Ownership_Name                ⋯
      │ String          Int64                    String                        ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │ 1173734-12-171                  1081206  Test 12/28/2017               ⋯
    2 │ 0331622-05-001                   331622  Douglas Parking Llc
    3 │ 0331622-07-001                   331622  Douglas Parking Llc
    4 │ 1003077-07-141                   331622  Douglas Parking Llc
    5 │ 1059531-03-161                  1009459  Volume Parking Services Inc   ⋯
    6 │ 1099910-08-161                   331622  Douglas Parking Llc
    7 │ 1138241-02-171                   331622  Douglas Parking Llc
    8 │ 1173943-12-171                   433156  Hyde Park Management Llc
    9 │ 1003009-07-141                   329140  Imperial Parking (Us) Llc     ⋯
   10 │ 1003010-07-141                   329140  Imperial Parking (Us) Llc
   11 │ 1056407-02-161                   329140  Imperial Parking (Us) Llc
  ⋮   │       ⋮                    ⋮                           ⋮               ⋱
 1088 │ 1013757-12-141                   461521  Abm Onsite Services-West Inc
 1089 │ 1149238-06-171                   347331  Propark America West Llc      ⋯
 1090 │ 1013889-12-141                   461521  Abm Onsite Services-West Inc
 1091 │ 1029476-05-151                  1014039  Gaetani Real Estate
 1092 │ 1013797-12-141                   461521  Abm Onsite Services-West Inc
 1093 │ 1013798-12-141                   461521  Abm Onsite Services-West Inc  ⋯
 1094 │ 1013799-12-141                   461521  Abm Onsite Services-West Inc
 1095 │ 1018695-02-151                   105437  255 Steiner Llc
 1096 │ 1118609-09-161                   446177  Laz Parking California Llc
 1097 │ 1136748-02-171                   347331  Propark America West Llc      ⋯
                                                24 columns and 1076 rows omitted

In [10]:
assign = :(x = 2)

:(x = 2)

In [11]:
eval(assign)

2

In [12]:
x

2

In [13]:
fieldnames(typeof(assign))

(:head, :args)

In [14]:
dump(assign)

Expr
  head: Symbol =
  args: Array{Any}((2,))
    1: Symbol x
    2: Int64 2

In [15]:
assign.args[2] = 3

3

In [16]:
eval(assign)

3

In [17]:
x

3

In [18]:
assign4 = Expr(:(=), :x, 4)

:(x = 4)

In [19]:
eval(assign4)

4

In [20]:
x

4

In [21]:
quote
	y = 42
	x = 10
end

quote
    #= In[21]:2 =#
    y = 42
    #= In[21]:3 =#
    x = 10
end

In [22]:
eval(ans)

10

In [23]:
y

42

In [24]:
x

10

In [25]:
name = "Dan"

"Dan"

In [26]:
greet = :("Hello " * $name)

:("Hello " * "Dan")

In [27]:
eval(greet)

"Hello Dan"

In [28]:
macro greet(name)
    :("Hello " * $name)
end

@greet (macro with 1 method)

In [29]:
@greet("Adrian")

"Hello Adrian"

In [30]:
@greet "Julia"

"Hello Julia"

In [31]:
macro twostep(arg)
	println("I execute at parse time. The argument is: ", arg)
	return :(println("I execute at runtime. The argument is: ", $arg))
end

@twostep (macro with 1 method)

In [32]:
ex = macroexpand(@__MODULE__, :(@twostep :(1, 2, 3)));

I execute at parse time. The argument is: :((1, 2, 3))

In [33]:
eval(ex)

I execute at runtime. The argument is: (1, 2, 3)

In [34]:
shopping_list = DataFrame(produce=["Apples", "Milk", "Bread"], qty=[5, 2, 1])

3×2 DataFrame
 Row │ produce  qty
     │ String   Int64
─────┼────────────────
   1 │ Apples       5
   2 │ Milk         2
   3 │ Bread        1

In [35]:
@from p in shopping_list begin
    @select p
end

3x2 query result
produce │ qty
────────┼────
Apples  │ 5
Milk    │ 2
Bread   │ 1

In [36]:
@from p in shopping_list begin
    @select p.produce
end

3-element query result
 "Apples"
 "Milk"
 "Bread"

In [37]:
@from p in shopping_list begin
	@select p.produce
end

3-element query result
 "Apples"
 "Milk"
 "Bread"

In [38]:
@from p in shopping_list begin
	@select uppercase(p.produce), 2p.qty
end

3-element query result
 ("APPLES", 10)
 ("MILK", 4)
 ("BREAD", 2)

In [39]:
@from p in shopping_list begin
    @select { produce = uppercase(p.produce), qty = 2p.qty }
end

3x2 query result
produce │ qty
────────┼────
APPLES  │ 10
MILK    │ 4
BREAD   │ 2

In [40]:
@from p in shopping_list begin
    @select { PRODUCE = uppercase(p.produce), double_qty = 2p.qty }
    @collect
end

3-element Vector{NamedTuple{(:PRODUCE, :double_qty), Tuple{String, Int64}}}:
 (PRODUCE = "APPLES", double_qty = 10)
 (PRODUCE = "MILK", double_qty = 4)
 (PRODUCE = "BREAD", double_qty = 2)

In [41]:
@from p in shopping_list begin
    @select {PRODUCE = uppercase(p.produce), double_qty = 2p.qty}
    @collect DataFrame
end

3×2 DataFrame
 Row │ PRODUCE  double_qty
     │ String   Int64
─────┼─────────────────────
   1 │ APPLES           10
   2 │ MILK              4
   3 │ BREAD             2

In [42]:
@from p in shopping_list begin
    @where p.qty < 2
    @select p
    @collect DataFrame
end

1×2 DataFrame
 Row │ produce  qty
     │ String   Int64
─────┼────────────────
   1 │ Bread        1

In [43]:
@from p in shopping_list begin
    @let weekly_qty = 7p.qty
    @where weekly_qty > 10
    @select { p.produce, week_qty=weekly_qty }
    @collect DataFrame
end

2×2 DataFrame
 Row │ produce  week_qty
     │ String   Int64
─────┼───────────────────
   1 │ Apples         35
   2 │ Milk           14

In [44]:
products_info = DataFrame(produce = ["Apples", "Milk", "Bread"], price = [2.20, 0.45, 0.79], allergenic = [false, true, true])

3×3 DataFrame
 Row │ produce  price    allergenic
     │ String   Float64  Bool
─────┼──────────────────────────────
   1 │ Apples      2.2        false
   2 │ Milk        0.45        true
   3 │ Bread       0.79        true

In [45]:
shopping_info = @from p in shopping_list begin
	@join pinfo in products_info on p.produce equals pinfo.produce
	@select { p.produce, p.qty, pinfo.price, pinfo.allergenic }
	@collect DataFrame
end

3×4 DataFrame
 Row │ produce  qty    price    allergenic
     │ String   Int64  Float64  Bool
─────┼─────────────────────────────────────
   1 │ Apples       5     2.2        false
   2 │ Milk         2     0.45        true
   3 │ Bread        1     0.79        true

In [46]:
@from p in shopping_info begin
    @group p.produce by p.allergenic
    @collect
end

2-element Vector{Grouping{Bool, String}}:
 ["Apples"]
 ["Milk", "Bread"]

In [47]:
@from p in shopping_info begin
   @group p by p.allergenic into q
   @select { allergenic = key(q), count = length(q.allergenic), produce = join(q.produce, ", ") }
   @collect DataFrame
end

2×3 DataFrame
 Row │ allergenic  count  produce
     │ Bool        Int64  String
─────┼────────────────────────────────
   1 │      false      1  Apples
   2 │       true      2  Milk, Bread

In [48]:
@from p in products_info begin
    @orderby descending(p.price), p.produce
    @select p
    @collect DataFrame
end

3×3 DataFrame
 Row │ produce  price    allergenic
     │ String   Float64  Bool
─────┼──────────────────────────────
   1 │ Apples      2.2        false
   2 │ Bread       0.79        true
   3 │ Milk        0.45        true

In [49]:
pkg"add DataValues"
using DataValues

LoadError: LoadError: UndefVarError: @pkg_str not defined
in expression starting at In[49]:1

In [ ]:
clean_df = @from b in df begin
        @where lowercase(b.City) == "san francisco" && b.State == "CA" && 
            ! isna(b.Street_Address) && ! isna(b.Source_Zipcode) && 
            ! isna(b.NAICS_Code) && ! isna(b.NAICS_Code_Description) && 
            ! isna(b.Business_Location) && 
            occursin(r"\((.*), (.*)\)", get(b.Business_Location)) && 
            isna(b.Business_End_Date) && isna(b.Location_End_Date)
    @select { b.DBA_Name, b.Source_Zipcode, b.NAICS_Code, b.NAICS_Code_Description, b.Business_Location }
    @collect DataFrame
end

In [ ]:
clean_df_geo = @from b in clean_df begin
    @let geo  = split(match(r"(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)", get(b.Business_Location)).match, ", ")
    @select {b.DBA_Name, b.Source_Zipcode, b.NAICS_Code, b.NAICS_Code_Description, lat = parse(Float64, geo[1]), long = parse(Float64, geo[2])}
    @collect DataFrame
end

In [ ]:
describe(clean_df_geo)

In [ ]:
unique(clean_df_geo[:, :Source_Zipcode]) |> length

In [ ]:
using Pkg
pkg"add Clustering"
using Clustering

In [ ]:
using CSV, DataFrames, Query
clean_df_geo = CSV.read("clean_df_geo.tsv", delim = '\t', nullable = false)

In [ ]:
model_data = @from b in clean_df_geo begin
	@group b by b.Source_Zipcode into g
	@let bcount = Float64(length(g))
	@orderby descending(bcount)
	@select { zipcode = Float64(get(key(g))), businesses_count = bcount }
	@collect DataFrame
end

In [ ]:
tail(model_data)

In [ ]:
using Gadfly

In [ ]:
plot(model_data, x=:businesses_count, Geom.histogram)

In [ ]:
model_data = @from b in clean_df_geo begin
	@group b by b.Source_Zipcode into g
	@let bcount = Float64(length(g))
    @where bcount > 10
	@orderby descending(bcount)
	@select { zipcode = Float64(get(key(g))), businesses_count = bcount }
	@collect DataFrame
end

In [ ]:
training_data = permutedims(convert(Array, model_data), [2, 1])

In [ ]:
result = kmeans(training_data, 3, init=:kmpp, display=:iter)

In [ ]:
result.assignments

In [ ]:
model_data[:cluster_id] = result.assignments

In [ ]:
model_data

In [ ]:
plot(model_data, y = :zipcode, x = :businesses_count, color = result.assignments, Geom.point, Scale.x_continuous(minvalue=0, maxvalue=5000), Scale.y_continuous(minvalue=94050, maxvalue=94200), Scale.x_continuous(format=:plain))

In [ ]:
companies_in_top_areas = @from c in clean_df_geo begin
    @where in(c.Source_Zipcode, [94110, 94103, 94109])
    @select c
    @collect DataFrame
end

In [ ]:
plot(companies_in_top_areas, y = :long, x = :lat, Geom.point, Scale.x_continuous(minvalue=36, maxvalue=40), Scale.y_continuous(minvalue=-125, maxvalue=-120), color=:Source_Zipcode)

In [ ]:
companies_in_top_areas = @from c in companies_in_top_areas begin
	@where c.lat != minimum(companies_in_top_areas[:lat])
	@select c
	@collect DataFrame
end

In [ ]:
plot(companies_in_top_areas, y = :long, x = :lat, Geom.point, Scale.x_continuous(minvalue=36, maxvalue=40), Scale.y_continuous(minvalue=-125, maxvalue=-120), color=:Source_Zipcode)

In [ ]:
activities = @from c in companies_in_top_areas begin
	@group c by c.NAICS_Code_Description into g
	@orderby descending(length(g))
	@select { activity = key(g), number_of_companies = length(g) }
	@collect DataFrame
end

In [ ]:
plot(activities, y=:number_of_companies, Geom.bar, color=:activity, Scale.y_continuous(format=:plain), Guide.XLabel("Activities"), Guide.YLabel("Number of companies"))

In [ ]:
model_data = @from c in companies_in_top_areas begin
	@select { latitude = c.lat, longitude = c.long }
	@collect DataFrame
end

In [ ]:
training_data = permutedims(convert(Array{Float64}, model_data), [2, 1])

In [ ]:
result = kmeans(training_data, 12, init=:kmpp, display=:iter)

In [ ]:
result.counts

In [ ]:
plot(result.counts, Geom.bar, y=result.counts, Guide.YLabel("Number of businesses"), Guide.XLabel("Cluster ID"), color=result.counts)

In [ ]:
companies_in_top_areas[:cluster_id] = result.assignments

In [ ]:
plot(companies_in_top_areas, color=:cluster_id, x=:lat, y=:long)

In [ ]:
export_data = @from c in companies_in_top_areas begin
                  @select { Name = c.DBA_Name, Zip = c.Source_Zipcode,
                              Group = string("Cluster $(c.cluster_id)"),
                                Latitude = c.lat, Longitude = c.long, City = "San Francisco",
                                   State = "CA" }
                @collect DataFrame
end

In [ ]:
CSV.write("businesses.csv", head(export_data, 250))